<!doctype html>
<html lang="en">
    <head>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Status</title>
    </head>
    <body>
        <div class="ui segment">
            <h2 class="ui center aligned header">Edit Status</h2>

            <!-- Form to edit the About content -->
            <form method="POST" action="{{ url_for('edit_status') }}">
                {{ form.hidden_tag() }}
                <!-- Flask-WTF CSRF token -->
                <div class="ui form">
                    <div class="field">
                        <label for="about_text">Status</label>
                        {{ form.status_text(class="ui textarea", rows="5") }}
                    </div>
                    <button class="ui blue button" type="submit">Save</button>
                </div>
            </form>

            <!-- Button to go back -->
            <a href="{{ url_for('index') }}" class="ui button">Back</a>
        </div>
    </body>
</html>
